{% extends "base.html" %}
{% block content %}
  <div class="container4">
    <div class="about-page-div">
      <h2>Disclaimer</h2>
      <br>
      <div class="disclaimer-div">
        <p>This web-application is released "as-is" without any warranty,
          responsibility or liability. I do not take any responsibility for
          anything you do use this application. Using(or even keeping) this
          app might be illegal in your country. Use it at your own risk!
        </p>
      </div>

    </div>
  </div>


{% endblock %}
