{% extends "base.html" %}
{% block content %}

   <div class="container2">
        <div class="sidebar">
          <h2>Budget-AJ</h2>
           <ul>
               <li> <a href="{{ url_for('users.user_dashboard') }}"><i class="fas fa-home"></i>Dashboard</a></li>
               <li> <a href="{{ url_for('users.user_profile') }}"><i class="fas fa-home"></i>My Profile</a></li>
               <li> <a href="{{ url_for('users.create_budget') }}"><i class="fas fa-home"></i>Create Budget</a></li>
               <li> <a href="{{ url_for('users.edit_budget') }}"><i class="fas fa-home"></i>Edit Budget</a></li>
               <li> <a href="{{ url_for('users.show_bills') }}"><i class="fas fa-home"></i>Bills</a></li>
               <li> <a href="#"><i class="fas fa-home"></i>something</a></li>
           </ul>
        </div>
   </div>

    <div class="maindiv">


        {% block sidebarcontent %}
            <div class="budget-select-form">
                <form method="POST" >
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            {{ budget_select_form.hidden_tag()}}
                            {{ budget_select_form.select_budget.label }}
                            {{ budget_select_form.select_budget(class="form-control")}}
                        </div>
                        <div class="form-group">
                            {{ budget_select_form.submit1(class='btn btn-primary btn-lg form-control budget-select-button') }}
                        </div>
                    </div>
                </form>
            </div>

            <div class="pie-div">
                {{ pie_div }}
            </div>
            <div class="bar-div">
                {{ bar_div }}
            </div>
            <div class="add-expense-tab">
                {{ expenses_tab }}
            </div>
            <div class="edit-delete-form">
                <div align="center" class="inner">
                    <form  method="POST" onSubmit="return confirm('Are you sure you want to delete this budget?');">
                        {{ budget_delete_form.hidden_tag()}}
                        {{ budget_delete_form.submit2(class='btn btn-primary btn-lg') }}
                    </form>
                </div>
                <div align="center" class="inner">
                    <button onclick="window.location.href='{{ url_for('users.create_budget') }}';" type="button" class="btn btn-primary btn-lg">Edit Budget</button>
                </div>
            </div>
        {% endblock %}

    </div>


{% endblock %}
