@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

/* BASIC */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Josefin Sans', sans-serif;
}

html {
  background-color: #56baed;
}

body {
  height: 100vh;
  font-weight: bold;
  color: blue;
}

a {
  color: #92badd;
  display:inline-block;
  text-decoration: none;
  font-weight: 400;

}

h2 {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  display:inline-block;
  margin: 40px 8px 10px 8px;
  color: #cccccc;
}


/*SIDEBAR*/

.container2{
    display: flex;
    position: sticky;
    margin: 0;
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
}

.container2 .sidebar{
    position: fixed;
    width: 15%;
    height: 100%;
    align-items: flex-start;
    background: #1f1e1a;
    padding: 30px 0;
}

.container2 .sidebar h2{
    color: #fcfcfc;
    text-transform: uppercase;
    text-align: center;
    margin: 10%;
}

.container2 .sidebar ul li{
    padding: 10%;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    border-top: 1px solid rgba(225,225,225,0.05);
}

.container2 .sidebar ul li a{
    color: #fcfcfc;
    display: block;
}

.container2 .sidebar ul li a .fas{
    width: 25px;
}

.container2 .sidebar ul li:hover{
    background: #5fbae9;
}

.container2 .sidebar ul li:hover a{
    color: #fcfcfc;
}

 .container2 .ajnavbar{
    display: flex;
    position: sticky;
    width: 100%;
    height: 5%;
    background-color: #1f1e1a;
}


.container2 .ajnavbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.container2 .ajnavbar ul li {
    float: left;
}

.container2 .ajnavbar ul li a {
    display: block;
    color: #fcfcfc;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.container2 .ajnavbar ul li a:hover{
    background-color: #5fbae9;
}

.active {
    background-color: #5fbae9;
}
